.jumbotron {
	background-color: #222831; 
	color: #eeeeee;
	margin-top: 50px;
}
.btn {
	background-color: #393e46;
		
}
footer {
	padding: 10px 10px 0px 10px;
	background-color: #222831;
	color: #eeeeee;
	margin-bottom: 0;
}